# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\大三上学期\软件设计\workers_salary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
